<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="CrusadersConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Crusaders.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Crusaders.PlayersAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="Crusaders.Service1AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Crusaders.Players">
                <endpoint address="" behaviorConfiguration="Crusaders.PlayersAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Crusaders.Players" />
            </service>
            <service name="Crusaders.Service1">
                <endpoint address="" behaviorConfiguration="Crusaders.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Crusaders.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
